.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.headerPosition{
    display: flex;
    align-items: center;
}

.iconButton {
    background: none;
    border: none;
    font-size: 1.6rem; 
    cursor: pointer;
    margin: 0rem 0.7rem;
    padding: 5px;
    color: #532567;
    border: 1px solid #532567;
    border-radius: 8px;
    transition: 0.2s ease-in-out;

    &:hover{
        /* color: #FFF; */
        transform: scale(1.20);
    }
}
  
.pesquisa {
    border: 1px solid #532567;
    border-radius: 15px;
    padding: 10px 200px 10px 15px;
    font-family: "Poppins", sans-serif; 
}

.logo {
    height: 40px;
    border-radius: 20px;
    margin: 0rem 0.7rem;
}

